= div_for comment do
  = image_tag gravatar_url(comment, 96), alt: "#{comment.name} Avatar"
  .main
    = render "comments/comment_headline", :comment => comment
    .comment_content
      = format_comment(comment)
      .actions
        = link_to raw('<i class="icon-share-alt"></i> Reply'), new_polymorphic_path([@commentable, Comment.new], parent_id: comment), class: "btn btn-xs btn-four", remote: true
  .clear