%li
  .listing-image
    - if post.image?
      = link_to post_path(post) do
        = image_tag post.image, class: "img-responsive post-thumbnail", alt: "#{post.title.titleize}"
  .listing-body
    %h3= link_to post.title.titleize, post_path(post)
    %p.list-item-info
      Written by
      = link_to_author(post.author)
      %ndash;
      = post.published_at.strftime("%B %d, %Y")
      %br/
      %i.fa.fa-tags
      - if post.tag_list.count > 0
        = link_to_tags_inline(post.tag_list_sorted)
    = markdown_render(post.abstract)
    %p
      = link_to "Continue reading &raquo;".html_safe, post_path(post), class: "btn btn-xs btn-two pull-right"