- if @user.errors.any?
  .alert.alert-block.alert-danger
    %a.close{"data-dismiss" => "alert"} ×
    %h4.alert-heading Oh Snap!
    We found #{pluralize(@user.errors.count, "problem")} with the form:
= f.input :first_name, label_html: { class: "col-sm-2" }, wrapper: :horizontal_10
= f.input :last_name, label_html: { class: "col-sm-2" }, wrapper: :horizontal_10
= f.input :email, label_html: { class: "col-sm-2" }, wrapper: :horizontal_10
- if current_user.admin?
  = f.input :role, collection: User::ROLES, label_html: { class: "col-sm-2" }, wrapper: :horizontal_10
.legend-cont
  %legend Authorship
= f.input :gplus, label: "Google Plus", label_html: { class: "col-sm-2" }, wrapper: :horizontal_10
= f.input :twitter_handle, label_html: { class: "col-sm-2" }, wrapper: :horizontal_10
.legend-cont
  %legend
    Change Password
    %small Leave blank to keep your current password
= f.input :password, input_html: { autocomplete: 'off' }, label_html: { class: "col-sm-2" }, wrapper: :horizontal_10
= f.input :password_confirmation, :label =>"Confirm Password", label_html: { class: "col-sm-2" }, wrapper: :horizontal_10
.alert.alert-warning
  Enter your current password to confirm changes
= f.input :current_password, :hint => "We need your current password to confirm your changes", input_html: { autocomplete: 'off' }, label_html: { class: "col-sm-2" }, wrapper: :horizontal_10